body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: block;
    overflow: auto;
}

.cart-container {
    display: flex;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 75%;
    height: 100%;
}

.modal__body {
    padding: 10px;
    min-height: 100%;
}

.modal__content {
    background-color: #fff;
    color:black;
    position: relative;
    min-height: 100%;
    height: auto;
}

.modal__close {
    right: 10px;
    position: absolute;
}

.modal__title {

}

.modal__text {
    overflow: auto;
}

#cart {
    min-height: 800px;
    text-align: center;
    
}

.catalog-cart {
    display: flex;
    border: 1px solid grey;
    font-size: small;
    align-items: center;
    border-radius: 5px;
    margin: 15px 15px;
    background-color: #fff;
}

.catalog-cart__image {
    
    height: 70px;
    object-fit: contain;

}

.catalog-cart__title {
    font-size: small;
}

.catalog-cart__content {
    display: flex;
}

.catalog-cart__price {
    font-weight: bold;
}


.catalog-cart__number {}

.catalog-cart__btn {}

.catalog-cart__size {}